# folders
.DS_Store
.firebase/
elm-stuff
functions/node_modules
jspm_packages
node_modules
public

# misc
.firebaserc
build.js
build.js.map
firebase-debug.log
npm-debug.log
*.cache
.firebase/hosting.*.cache
